BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: Never
IncludeBlocks: Preserve
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakStringLiterals: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
FixNamespaceComments: false
InsertNewlineAtEOF: true
